form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
  margin-bottom: 2rem;
  max-width: 400px;
}

form h2 {
  text-align: center;
}

label {
  font-weight: bold;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
 }

button {
  background-color: #749fac;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}